<!DOCTYPE html>
<html>
    <head>

	<meta charset="utf-8" />

	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">

	
	<link rel="stylesheet" type="text/css" href="manager-company.css">
	
	<link rel="stylesheet" type="text/css" href="{{static_url("css/manager-company.css")}}">
	

    </head>

    <body>
	<h3>Company Infomation</h3>
	<div class="container">
	    <h4>company name:</h4>
	    <input type="text" required="required">
	    <h4>shop name:</h4>
	    <input type="text" required="required">
	    <h4>location:</h4>
	    <input type="text" reuqired="required">
	    <h4>heading:</h4>
	    <input type="text" required="required">
	    <h4>welcome info:</h4>
	    <textarea></textarea>
	    <h4>company description:</h4>
	    <textarea rows="5"></textarea>
	    <div class="button">submit</div>
	</div>
	
	
	
	<script src="{{static_url("js/jquery-1.11.2.min.js")}}"></script>
	<script src="{{static_url("js/jquery.mobile.custom.min.js")}}"></script>
	<script src="{{static_url("js/base.js")}}"></script>
	<script src="{{static_url("js/manager-company.js")}}"></script>
    </body>
</html>
