<!DOCTYPE html>
<html>
    <head>

	<meta charset="utf-8" />

	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">

	
	<link rel="stylesheet" type="text/css" href="manager-worker.css">
	
	<link rel="stylesheet" type="text/css" href="{{static_url("css/manager-worker.css")}}">
	

    </head>

    <body>
	<div class="menu">
	    <div class="back">back</div>
	    <div class="head">worker</div>
	    <div class="worker-container">
		<div class="op">add</div>
		<div class="op">delete</div>
		<div class="op">show</div>
	    </div>
	</div>

	<div class="content">
	    <div class="worker-add">
		<div class="heading">worker add</div>
		<div class="label">fid</div>
		<input type="text" id="fid">
		<div class="label">name</div>
		<input type="text" id="name">
		<div class="label">role</div>
		<div class="role"><input type="checkbox" class="">waiter</div>
		<div class="role"><input type="checkbox" class="">cashier</div>
		<div class="role"><input type="checkbox" class="">cooker</div>
		<div class="label">password</div>
		<input type="text" id="password">
		<div class="button" id="worker-add-button">submit</div>
	    </div>
	    <div class="worker-del">
		<div class="heading">worker delete</div>
		<div class="label">fid</div>
		<input type="text" id="fid2">
		<div class="button" id="worker-del-button">submit</div>
	    </div>
	    <div class="worker-show">
		<table border="1" cellspacing="0">
		    <caption>worker</caption>
		    <thead>
			<tr>
			    <th>fid</th>
			    <th>name</th>
			    <th>role</th>
			    <th>password</th>
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <td>00001</td>
			    <td>jack</td>
			    <td>waiter</td>
			    <td>123456</td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>
	
	
	
	<script src="{{static_url("js/jquery-1.11.2.min.js")}}"></script>
	<script src="{{static_url("js/jquery.mobile.custom.min.js")}}"></script>
	<script src="{{static_url("js/base.js")}}"></script>
	<script src="{{static_url("js/manager-desk.js")}}"></script>
    </body>
</html>
