<!DOCTYPE html>
<html>
    <head>

	<meta charset="utf-8" />

	<meta http-equiv="expires" content="0">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">

	
	<link rel="stylesheet" type="text/css" href="waiter-order.css">

	
	<link rel="stylesheet" type="text/css" href="{{static_url("css/waiter-order.css")}}">

    </head>

    <body>
	<div class="header">
	    <h2 class="heading"><input type="text" id="desk"> </h2>
	    <div class="back">back</div>
	</div>
	<div class="content">
	    <table border="0">
		<tr>
		    <td>did:</td>
		    <td><input type="text" id="did"></td>
		</tr>
		<tr>
		    <td>demand:</td>
		    <td><input type="text" id="demand"></td>
		</tr>
		<tr>
		    <td colspan="2"><div id="submit">add</div></td>
		</tr>
	    </table>
	    <div class="bar">show/hide</div>
	    <div class="orders">
		<div class="item one">
		    <div class="row">
			<div class="name">名字</div><!--
						       --><div class="price">18.0</div><!--
											  --><div class="num">0</div>
		    </div>
		    <div class="row">
			<div class="demand">这是特殊要求</div>
		    </div>
		    <div class="row">
			<div class="button">-</div>
		    </div>
		</div>
		<div class="item one">
		    <div class="row">
			<div class="name">名字</div><!--
						       --><div class="price">18.0</div><!--
											  --><div class="num">0</div>
		    </div>
		    <div class="row">
			<div class="demand">这是特殊要求</div>
		    </div>
		    <div class="row">
			<div class="button">-</div>
		    </div>
		</div>
		<div class="item total">
		    <div class="row">
			<div class="name">共</div><!--
						     --><div class="price">0</div><!--
										     --><div class="num">0</div>
		    </div>
		</div>
		<textarea class="gdemand" placeholder="general demand" rows="3"></textarea>
	    </div>
	    <div class="submit">submit</div>
	</div>
	
	
	<script src="{{static_url("js/jquery-1.11.2.min.js")}}"></script>
	<script src="{{static_url("js/jquery.mobile.custom.min.js")}}"></script>
	<script src="{{static_url("js/base.js")}}"></script>
	<script src="{{static_url("js/waiter-order.js")}}"></script>
    </body>
</html>
<html>
 
